<% if (!data.val()) { %>
<div class="alert alert-warning">No matches to show.</div>
<% } else { %>
<% data.forEach(function(match){ %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <a href="#matches/<%= match.name() %>">
    <div class="thumbnail">
      <h2>#<%= match.name() %>: <%= match.val().loc.team %> vs <%= match.val().vis.team %></h2>
      <div class="caption">
        <h3><%= match.val().stage %></h3>
        <h3>Result: <%= match.val().loc.goals %> - <%= match.val().vis.goals %> </h3>
        <h3>Factor: <%= match.val().factor %></h3>
      </div>
    </div>
  </a>
</div>
<% }) %>
<% } %>