<% if (!data.val()) { %>
<div class="alert alert-warning">Player not found.</div>
<% } else { %>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="<%= data.val().profilePicture %>" alt="...">
  </a>
  <div class="media-body">
    <h1 class="media-heading"><%= data.val().name %></h1>
    <h1>Points: <%= data.val().points %></h1>
  </div>
</div>
  <% if (!data.child('forecasts').val()) { %>
  <div class="alert alert-warning">Forecasts not found.</div>
  <% } %>
<% } %>